:root {
  --greyGreen: #476A6F;
  --medGreen: #519E8A;
  --lightGreen: #7EB09B;
  --sand: #C5C9A4;
  --pink: #ECBEB4;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;

}
body {
  background-color: var(--medGreen);
  font-size: 18px;
  height: 100vh;

}
header {
  background-color: var(--pink);
  text-align: center;
  height: 20%;
}
header h1{
  padding: 2rem 0;
}
section {
  text-align: center;
  background-color: var(--medGreen);
  padding-bottom: 2rem;
}
.left, .right {
  border: 2px solid var(--pink);
}
.left {
  padding: 2rem;
}
.right {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.container {
  display: flex;
  justify-content: center;
  margin: 1rem;
  gap: 10px;
}
section h3{
  text-decoration: underline;
  padding: 1rem 0;
}
section ul {
  list-style-type: "\1F44D";
  list-style-position: inside;
}
.imgAndTime {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
img {
  border: 5px solid transparent;
  border-radius: 4%;
  width: 40%;
}
.timeBox {
  margin-right: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#timeArea {
  font-size: 1.5rem;
}
button {
  padding: 1rem 1.3rem;
  border-radius: 2%;
  box-shadow: 0px 0px 8px var(--medGreen);
  margin: 1rem 0;
  background-color: var(--pink);
  font-weight: 800;
}
footer {
  text-align: center;
  margin: 1rem;
  height: 20%;
  border: 2px solid var(--pink);
}
footer p {
  padding: 3rem 0;
}
@media (max-width: 750px){
  img {
    width: 100%;
    border-radius: 0%;
  }
  /*.imgContainer {
    display: block;
  } */
  .imgAndTime {
    display: block;
  }
}
